
<style>
    .side-bar {
        height: 80vh;
    }
</style>

<div class=" container-fluid  mt-4 pt-4">

    <div class="row mx-0">
        <div class="col-md-2 border-right h-100 ">
            <div class="shadow p-2   rounded d-flex flex-column  side-bar">

                <a href="#" class=" border-bottom my-3 pl-3 text-dark font-weight-bold"><i class="fas fa-user mr-2"></i> Profile</a>
                <a href="#" class=" border-bottom my-3 pl-3 text-dark font-weight-bold"><i class="fas fa-user-plus mr-2"></i> Home</a>
                <a href="#" class=" border-bottom my-3 pl-3 text-dark font-weight-bold"><i class="fas fa-user mr-2"></i> My Courses</a>
                <a href="~/LearnersLicense/LearnerPortal" class=" border-bottom my-3 pl-3 text-dark font-weight-bold"><i class="fas fa-laptop mr-2"></i> My Courses</a>

            </div>
            </div>
            
            <div class="col-md-9">
                <p class="h5 p-1 ml-4 font-weight-bold">Studen Portal</p> <br />
