@model IEnumerable<LindaniDrivingSchool.Models.Course>

@{
    ViewBag.Title = "LearnerCourses";
    Layout = "~/Views/Shared/_LearnerPortal.cshtml";
    var course = ViewBag.courses;
}
<style>
    .md-v-line {
        position: absolute;
        border-left: 1px solid rgba(0,0,0,.125);
        height: 50px;
        top: 0px;
        left: 54px;
    }
</style>
<ul class="list-group">
    @foreach (var item in course)
    {   
        <li class="list-group-item ">
            <div class="d-flex" id="@item.CourseID"><span> <span class="md-v-line"></span><i class="fas fa-laptop mr-4 pr-3"></i> @item.Name </span>
            <span class="ml-auto my-0">@Html.ActionLink("start learning Now", "LearnerLessons", "Lessons", new { id = item.CourseID }, new { @class = "btn btn-light-blue text-white  my-0  btn-sm" })</span></div>
        </li>
    }
</ul>
