@model lindaniDS.Models.Learners

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mx-0">
    <div class="col-12 p-5">
        <div class="card">

            <!-- Card image -->
            <img class="card-img-top" src="https://witbanknews.co.za/wp-content/uploads/sites/105/2018/02/driving-licence.jpg" alt="Card image cap" style="height:60vh;">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title d-flex justify-content-between font-weight-bold"><a>@Html.DisplayFor(model => model.Name)</a><span>@Html.DisplayFor(model => model.Cost)</span></h4>
                <!-- Text -->
                <p class="card-text">
                    @Html.DisplayFor(model => model.LearnerDisc)
                </p>
                <!-- Button -->

                <div class=" d-flex justify-content-between">
                    <span class="my-auto">
                        <button onclick="window.history.back();" class="btn btn-sm btn-outline-info rounded"><i class="fas fa-arrow-left mr-2"></i> Back to learners</button>
                    </span>
                    <span class=" my-auto"> Code 
                        @if (Model.Code == 1)
                        {<span> A </span>}

                        @if (Model.Code == 2)
                        {<span> B </span>}

                        @if (Model.Code == 3)
                        {<span> C </span>}
                    </span>
                    <span>@Html.ActionLink("Enroll Now", "LearnerPay", "Payments", new { id = Model.LearnerID }, new { @class = "btn btn-sm btn-primary rounded" }) </span>
                </div>

            </div>

        </div>
    </div>
</div>


