@model IEnumerable<lindaniDS.Models.Learners>

@{
    ViewBag.Title = "LearnerPortal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Enrol = ViewBag.enrol;
}

<hr />


            @Html.Partial("_LearnerPortal")

            <div class="row-cols-3  d-flex ">

            @foreach (var item in Enrol)
            {

            <div class="col mb-4 mx-3 d-flex align-items-stretch">

                <div class="card shadow">
                    <!--Card image-->
                    <div class=" overlay pb-0 p-0">
                        <img class="card-img-top mb-0 m-0" src="https://witbanknews.co.za/wp-content/uploads/sites/105/2018/02/driving-licence.jpg" alt="Card image cap">
                    </div>

                    <!--Card content-->
                    <div class="card-body d-flex flex-column justify-content-between pt-2 pb-1">

                        <!--Title-->
                        <h4 class="card-title  d-flex justify-content-between">
                            <span> @item.Learners.Name</span> <span>
                                @if (item.Learners.Code == 1)
                                {<span> A </span>}

                                @if (item.Learners.Code == 2)
                                {<span> B </span>}

                                @if (item.Learners.Code == 3)
                                {<span> C </span>}

                            </span>
                        </h4>
                        <!--Text-->
                        <p class="card-text">
                            @item.Learners.LearnerDisc)
                        </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <div class=" d-flex justify-content-between">
                            <span class="my-auto h5 font-weight-bold">Enrolled</span>
                            <span class="">@Html.ActionLink("start learning", "LearnerCourses", "Courses", new { id = item.Learners.LearnerID }, new { @class ="btn btn-light-blue text-white btn-md"})</span>

                        </div>
                    </div>

                </div>
                <!-- Card -->

            </div>



        }
            </div>

        </div>
    </div>



</div>