<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4d8c71e5-62c2-48cc-8bbd-deb4f17189e7/resourcegroups/DUTAPPS/providers/Microsoft.Web/sites/lindani</ResourceId>
    <ResourceGroup>DUTAPPS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lindani.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lindani.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lindani</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lindani</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LindaniDBs" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:lindanidsdbserver.database.windows.net,1433;Initial Catalog=lindaniDS_db;User ID=lindaniDB@lindanidsdbserver;Password=@Dut991110" Name="Data Source=tcp:lindanidsdbserver.database.windows.net,1433;Initial Catalog=lindaniDS_db;User Id=lindaniDB@lindanidsdbserver;Password=@Dut991110" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="lindaniDS.Models.LindaniContext, lindaniDS" MigrationConfiguration="lindaniDS.Migrations.Configuration, lindaniDS" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LindaniContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:lindanidsdbserver.database.windows.net,1433;Initial Catalog=lindaniDS_db;User ID=lindaniDB@lindanidsdbserver;Password=@Dut991110" Name="Data Source=tcp:lindanidsdbserver.database.windows.net,1433;Initial Catalog=lindaniDS_db;User Id=lindaniDB@lindanidsdbserver;Password=@Dut991110" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-lindaniDS-20200812053644.mdf;Initial Catalog=aspnet-lindaniDS-20200812053644;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LindaniContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-lindaniDS-20200812053644.mdf;Initial Catalog=aspnet-lindaniDS-20200812053644;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LindaniContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lindanidsdbserver.database.windows.net,1433;Initial Catalog=lindaniDS_db;User Id=lindaniDB@lindanidsdbserver;Password=@Dut991110</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LindaniDBs-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lindanidsdbserver.database.windows.net,1433;Initial Catalog=lindaniDS_db;User Id=lindaniDB@lindanidsdbserver;Password=@Dut991110</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="LindaniDBs" />
  </ItemGroup>
</Project>